@import '../../assets/scss/_imports.scss';

.contentCard {
	border-radius: 5px;
	@include applyThemeColors;
	@include boxShadow;
	@include fullGrid;
	@include bottomBorder;

	h3 {
		padding: 20px 30px;
		border-bottom: solid 1px $textColor;
		transition: border-bottom .5s ease;
		text-align: center;
	}

	&_content {
		padding: 20px 30px 30px;
	}
}